body{
  background-color: #EAF6F6;
}
h1{
  color: #56BBF1;
}
h3{
  color: #66BFBF;
}
hr{

  border-style: none;
  border-bottom-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 3%;
}
